@model Web.Viewmodels.WallVM.WallWM
@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid" style="margin-top: -90px; width: 80%;">
    <h1 style="text-align:center; margin-bottom: 30px;"><b>Visy</b>Feed</h1>
    <div class="wall--group--holder visy--cool-border">

        @foreach (var group in Model.Groups)
        {
            <h3 class="wall--group--title">@group.Name</h3>
            <h4>Add new post</h4>
            <div class="d-flex wall--new-post mb-4">
                <input placeholder="Write your question" class="form-control" style="margin-bottom: 20px" id="postId" />
                <a class="btn" onclick="post(@group.Id)"><i class="fas fa-paper-plane"></i></a>
            </div>
            foreach (var post in group.Post)
            {
                var name = "";
                var imageLink = "";
                var username = "";
                foreach (var acc in Model.Accounts)
                {
                    if (post.AccountId == acc.Id)
                    {
                        name = acc.FirstName + " " + acc.LastName;
                        imageLink = acc.AvatarLink;
                        username = acc.UserName;
                        break;
                    }
                }

                <div class="post d-flex align-items-center mb-2">
                    <a class="text-center mr-2 ml-2" asp-controller="User" asp-action="Index" asp-route-username="@username">
                        <img class="wall--profile--image" src="~/img/users/@imageLink" />
                        <p class="mb-0 "><b>@name</b></p>
                    </a>
                    <div>
                        <h3 class="ml-4"><b>@post.Text</b></h3>
                    </div>
                </div>

                foreach (var comm in post.Comment)
                {
                    var commName = "";
                    var commImageLink = "";
                    var usernameComm = "";
                    foreach (var acc in Model.Accounts)
                    {
                        if (comm.AccountId == acc.Id)
                        {
                            commName = acc.FirstName + " " + acc.LastName;
                            commImageLink = acc.AvatarLink;
                            usernameComm = acc.UserName;
                            break;
                        }
                    }
                    <div class="comment position-relative mb-2" style="display: flex; margin-left: 100px;">
                        <a class="text-left d-flex align-items-center" asp-controller="User" asp-action="Index" asp-route-username="@username">
                            <img class="wall--profile--image__small" src="~/img/users/@commImageLink" />
                            <p class="mb-0 ml-3"><b>@commName</b></p>
                        </a>
                        <div class="d-flex align-items-center">
                            <h4 class="mb-0 ml-4">@comm.Text</h4>
                        </div>
                        <div style="position: absolute; right: 20px; top: 10px;">
                            <a asp-controller="Wall" asp-action="Like" asp-route-commentId="@comm.Id"><i style="font-size: 25px;" class="fas fa-chevron-up"></i></a>
                            <a asp-controller="Wall" asp-action="Dislike" asp-route-commentId="@comm.Id"><i style="font-size: 25px;" class="fas fa-chevron-down"></i></a>
                        </div>
                    </div>

                }
                
                <div style="margin-left: 100px;">

                <h4 class="mt-4">Add new comment</h4>
                <div class="d-flex wall--new-post">
                    <input class="form-control  " style="margin-bottom: 20px" id="commentId" />
                    <a class="btn" onclick="comment(@post.Id)"><i class="fas fa-paper-plane"></i></a>
                </div>
                </div>
                <hr class="mb-4 border-none " style="opacity:0" />
            }
        }
    </div>
</div>

<script>
    function post(groupId) {
        var text = document.getElementById("postId").value;
        if (text == "") return;
        var url = "/wall/AddPost?groupId=" + groupId + "&text=" + text;
        $.get(url, function (result) {
            location.reload();
        }
        );
    }

    function comment(postId) {
        var text = document.getElementById("commentId").value;
        if (text == "") return;
        var url = "/wall/AddComment?postId=" + postId + "&text=" + text;
        alert(url);
        $.get(url, function (result) {
            location.reload();
        }
        );
    }
</script>




