@model Web.Viewmodels.UserVM.IndexVM
@{
    ViewData["Title"] = "user";
}


<div class="col-md-3 col-12" style="margin-right: 15px; margin-left: -15px;">
    <partial name="PartialViews/UserSidebar" model="@Model.User" />
</div>

<div class="col-md-9 col-12">
    <div class="main--content">

        <h1 class="page--title">@Model.User.FirstName's <b>subjects</b></h1>
        <h3 class="page--subtitle mb-5">Share <b>visual</b> knowledge.</h3>
        <div class="row">
            @{
                foreach (var subject in Model.Subjects)
                {
                    <a class="visycard__hover d-block col-md-4 col-12 text-decoration-none" asp-action="Subject" asp-route-id="@subject.Id">

                        <div class="visycard">

                            <h2 class="card--title"><b>@subject.Title</b></h2>
                            <hr class="card--separator" />
                            <h4 class="card--professor">@subject.Professor</h4>
                            <div class="card--content">
                                <p class="card--content--text">
                                    @subject.Description
                                </p>
                                <div class="card--content--row">
                                    <h3 class="card--content--row--title">ECTS</h3>
                                    <p class="card--content--row--badge">@subject.ETCS</p>
                                </div>
                                <div class="card--content--row">
                                    <h3 class="card--content--row--title">Lectures</h3>
                                    <p class="card--content--row--badge">@subject.LecturesCount</p>
                                </div>
                                <div class="card--content--row">
                                    <h3 class="card--content--row--title">Documents</h3>
                                    <p class="card--content--row--badge">@subject.DocumentCount</p>
                                </div>
                                <div class="card--content--row">
                                    <h3 class="card--content--row--title">Cards</h3>
                                    <p class="card--content--row--badge">@subject.CardCount</p>
                                </div>
                                <div class="card--content--label--container">
                                    <p class="card--content--label card--content--label__stock">1st year</p>
                                    <p class="card--content--label card--content--label__stock">c++</p>
                                    <p class="card--content--label card--content--label__stock">intro</p>
                                    <p class="card--content--label card--content--label__stock">1st semester</p>
                                </div>
                            </div>
                        </div>
                    </a>
                }
            }
        @if (string.Equals(Context.User.Identity.Name, Model.User.Username, StringComparison.InvariantCultureIgnoreCase))
        {
            <a data-toggle="modal" data-target="#addSubject" style="cursor: pointer;" class="visycard__hover d-block col-md-3 col-12 text-decoration-none">

                <div class="visycard">

                    <h4 class="card--title mb-0 align-items-center d-flex justify-content-center"><b>Add a new subject</b> <i style="font-size: 25px; color: #184894;" class="fas fa-plus ml-4"></i></h4>


                </div>
            </a>
        }
        </div>

    </div>
</div>

<!-- Add subject -->
<div class="modal fade" id="addSubject" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add new card</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-action="AddSubject" method="post">
                <div class="modal-body">

                    <input type="text" class="form-control" placeholder="Name" asp-for="@Model.Name">

                    <input type="text" class="form-control mt-2" placeholder="Description" asp-for="@Model.Description" />
                    <input type="number" class="form-control mt-2" placeholder="Ects" asp-for="@Model.Ects" />
                    <input type="text" class="form-control mt-2" placeholder="Professor" asp-for="@Model.Professor" />
                    <input type="number" class="form-control mt-2" placeholder="Semester Number" asp-for="@Model.SemesterNumber" />
                    <input type="text" class="form-control mt-2" placeholder="Syllabus Path" asp-for="@Model.SyllabusPath" />
                    <select class="mt-2" asp-for="@Model.OrganizationId" asp-items="@Model.Organizations">
                        <option selected value="">Choose organization</option>
                    </select>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Dismiss</button>
                    <button type="submit" class="btn background--darkest-blue text-white">Add card</button>
                </div>

            </form>
        </div>
    </div>
</div>
