@model Web.Viewmodels.UserVM.SubjectDetailsVM

@{
    ViewBag.Title = "Subject";
    Layout = "_Layout";
}

<div class="col-md-3 col-12" style="margin-right: 15px; margin-left: -15px;">
    <partial name="PartialViews/UserSidebar" model="@Model.User" />
</div>



<div class="col-md-9 col-12">
    <div class="main--content">

        <h1 class="page--title">Subject <b>@Model.Name</b></h1>
        <h3 class="page--subtitle mb-5">Learn with <b>@Model.User.FirstName</b></h3>

        <ul class="custom--navbar nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item ">
                <a class="nav-link active custom--nav--item pl-0"
                   id="home-tab"
                   data-toggle="tab"
                   href="#lectures"
                   role="tab"
                   aria-controls="lectures"
                   aria-selected="true">Lectures</a>
            </li>
            <li class="nav-item">
                <a class="nav-link custom--nav--item"
                   id="profile-tab"
                   data-toggle="tab"
                   href="#card"
                   role="tab"
                   aria-controls="card"
                   aria-selected="false"
                   style="margin-left:  35px;">Cards</a>
            </li>
            <li class="nav-item">
                <a class="nav-link custom--nav--item"
                   id="contact-tab"
                   data-toggle="tab"
                   href="#documents"
                   role="tab"
                   aria-controls="documents"
                   aria-selected="false"
                   style="margin-left:  35px;">Documents</a>
            </li>
        </ul>
        <div class="tab-content mt-4" id="myTabContent">


            <!-- Lectures -->
            <div class="tab-pane fade show"
                 id="lectures"
                 role="tabpanel"
                 aria-labelledby="home-tab">
                <div class="row">
                    @{
                        foreach (var lecture in Model.Lectures)
                        {
                            <a class="visycard__hover d-block col-md-4 col-12 text-decoration-none" asp-action="Lecture" asp-route-id="@lecture.Id">

                                <div class="visycard">

                                    <h2 class="card--title"><b>@lecture.Name</b></h2>
                                    <hr class="card--separator" />

                                    <div class="card--content">

                                        <div class="card--content--row">
                                            <h3 class="card--content--row--title">Cards</h3>
                                            <p class="card--content--row--badge">@lecture.CardsCount</p>
                                        </div>
                                        <div class="card--content--row">
                                            <h3 class="card--content--row--title">Documents</h3>
                                            <p class="card--content--row--badge">@lecture.DocumentCount</p>
                                        </div>
                                        <div class="card--content--row">
                                            <h3 class="card--content--row--title">Questions</h3>
                                            <p class="card--content--row--badge">@lecture.QuestionCount</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        }
                    }

                </div>




            </div>
            <div class="tab-pane fade"
                 id="card"
                 role="tabpanel"
                 aria-labelledby="profile-tab">
                cards
            </div>
            <div class="tab-pane fade"
                 id="documents"
                 role="tabpanel"
                 aria-labelledby="contact-tab">
                documents
            </div>
        </div>

    </div>
</div>
