@model Web.Viewmodels.CardVM.QuestionAnswerVM
@{
    ViewData["Title"] = "ShowNextCard";
}

<div class="position-relative">
    <div id="cardId"
         class="rotation--card"
         onclick="flip()"
         isFLipped="true">
        <div class="visy--test w-100" style="background: @Model.Color">
            <p class="visy--test--question p-3 ">
                @Model.Question
            </p>
            <div class="visycard visy--hint"
                 id="hintId" data-toggle="tooltip" data-placement="top" title="@Model.Lecture">
                <img src="~/img/icons/hint.png" class="hint--icon" />
                <p class="hint--text">HINT</p>
            </div>
            <div class="visycard p-2 visy--show-answer mb-0"
                 id="showAnswerId">
                <b class="show--answer">SHOW THE ANSWER</b>
                <p class="m-0">click or press space</p>
            </div>
        </div>

        <div class="visy--test--fliped back w-100" style="border:5px solid @Model.Color">
            <p class="visy--test--question p-3">
                @Model.Answer
            </p>
        </div>
    </div>
</div>


<div class="options--holder d-none" id="optionsHolderId">
    <h3 class="mb-2">Was this a hard question?</h3>
    <div class="d-flex">
        <div onclick="ButtonPress(0)" class="visycard option--button">EASY</div>
        <div onclick="ButtonPress(1)" class="visycard option--button">MEDIUM</div>
        <div onclick="ButtonPress(2)" class="visycard option--button">HARD</div>
    </div>
</div>



<script>

    function ButtonPress(priority) {
        var url = document.getElementById("baseUrl").value;
        url += "currentCardId=";
        url+=@Model.CardId;
        url += "&priority=";
        url += priority;

      $.get(url, function (result) {
                $(ajaxDiv).html(result);
                }
      );
    }

    $(function () {
  $('[data-toggle="tooltip"]').tooltip()
})

</script>


